<!--views/partials/teams.ejs-->

<div class="teams">
    <h1>CREATED BY GROUP 8</h1>
    <h3>Group member:</h3>

    <div class="memlist">
        <div class="mem">
            <img src="/images/chien.jpg" alt="">
            <p class="memname">Phung Minh Chien 20213565</p>
            <p class="role">Design website</p>
        </div>
        <div class="mem">
            <img src="/images/hoang.png" alt="">
            <p class="memname">Nguyen Duc Phuc Hoang 20210385</p>
            <p class="role">Create database</p>
        </div>
        <div class="mem">
            <img src="/images/thanh.png" alt="">
            <p class="memname">Nguyen Phuc Thanh 20213587</p>
            <p class="role">Find and insert datas</p>
        </div>
    </div>
</div>