<!doctype html>
<html lang="en">
  <head>
    <%- include ('../partials/head') %>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <header>
        <%- include ('../partials/header') %>
    </header>
    <%- include ('../partials/slider') %>
    <div class="welcome">
        <h1>WELCOME TO GROUP8 RESTAURANT</h1>
        <h2>Where great food, attentive service, and a warm ambiance await you!</h2>
    </div>
  </body>
</html>